.bg-gradient-primary {
    background-color: #232323 !important;
    background-image: linear-gradient( 137deg, #3e51d4 10%, #3243b6 100%);
}

.border-left-primary {
    border-left: .25rem solid #3e51d4 !important;
}

.tablecard {
    padding: 30px;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.dataTables_info,
.dataTables_paginate {
    margin-top: 4% !important;
}

.btn-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: unset !important;
}

.colone {
    margin-right: 2em;
}

.container-hitung {
    padding: 80px;
}

.nav-user {
    box-shadow: 1px 1px 6px 3px #00000026;
    background-color: #e36f00!important;
}

.boxquestion {
    padding: 70px;
    border: unset;
}

.tableresultSet {
    text-align: center;
    box-shadow: -1px 1px 7px 2px #0000001c;
}

.content-nav {
    color: #ffffff !important;
}

.qback {
    margin-right: 1em;
}

.bg-card-user {
    /* margin-top: 20px; */
    padding: 50px;
    /* margin-bottom: 20px; */
    /* height: 100vh; */
}

.boxbtn {
    background-color: unset;
    border: unset;
    text-align: center;
}

.boxtot {
    background-color: #555555;
    padding: 20px;
}

.akurasi-content {
    padding: 30px;
}

.btnatas {
    margin-bottom: 5px;
}

.btnhitung {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnhitung:hover {
    text-decoration: none;
}


/* .btn-area {
    position: absolute;
    bottom: 0;
} */

.hitungtext {
    padding-right: 5%;
}

.tablehitung {
    padding: 60px;
}

.close_res {
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 10px;
    color: red;
}

.card_gen {
    padding: 20px;
}